version: '3'
services:
  web:
    image: nginx:latest
    container_name: nginx
    volumes:
      - "./html:/usr/share/nginx/html"
      - "./default.conf:/etc/nginx/conf.d/default.conf"
    ports:
      - "80:80"
      - "443:443"
